*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eee;
    /* color: white; */
    font-family: system-ui;
  
}
.cruds{
    width: 80%;
    margin: auto;
}
.head{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
    color: #111111;
}
.data{
    display: flex;
    justify-content: space-between;
}
label{
    color: #111111;
    text-transform: capitalize;
}

.Employee_data{
    display: flex;
    flex-direction: column;
    width: 48%;
}
input{
    height: 40px;
    background-color: #dfdcdc;
    border: none;
    outline: none;
    margin: 10px 0px;
    border-radius: 6px;
    padding: 8px;
    color: rgb(0, 0, 0);
    margin-bottom: 25px;
}

.creat {
    display: flex;
    justify-content: center;
    text-align: center;
}
.creat button{
width: 100%;
height: 40px;
border-radius: 6px;
background-color: #dfc608e9;
border: 0;
outline: 0;
font-size: 18px;
cursor: pointer;
text-transform: uppercase;
color: white;
transition: 0.5s all;

}
.creat button:hover{
    background-color: #f8c91e;
    letter-spacing: 1px;

}


table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
    border: none;
    border: 1px solid black;
    border-radius: 6px;
    color: #000;
    border-bottom: 0;
}
table th{
    text-transform: uppercase;
    color: #111111;
    border: none;
    border-bottom: 2px solid rgb(23, 19, 236);

}

th , td{
    padding: 5px;
    color: #111111;
    border-right: 1px solid gray;

}
td{
    border-bottom: 1px solid rgb(0, 0, 0);

}
.update{
    border: 0;
    padding: 7px 12px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all;
    text-transform: uppercase;
}
.delete{
    border: 0;
    padding: 7px 12px;
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all;
    text-transform: uppercase;
}
.delete:hover , .update:hover{
transform: scale(1.1);
}